{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "endOfLine": "crlf",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"],
  "importOrder": ["^@", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
