rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
 		match /discord-oauth/{discordId} {
    	allow read, write: if false;
    }
    match /users/{userId} {
    	allow read: if true;
      allow write: if false;
    }
    match /cdn/{userId} {
    	allow read: if request.auth.uid == userId;
      allow write: if request.auth.uid == userId;
    }
    match /parties/{partyId}/ranks/{rankId} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }    
    match /parties/{partyId}/items/{itemId} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid != null && (!resource.data.diff(request.resource.data).affectedKeys().hasAny(['authorId', 'id']));
      allow delete: if request.auth.uid != null;
    }
    match /parties/{partyId} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow update: if (request.auth.uid == resource.data.creatorId || request.auth.uid in resource.data.moderators) && (!resource.data.diff(request.resource.data).affectedKeys().hasAny(['createdDate', 'id', 'creatorId']));
      allow delete: if request.auth.uid != null;
    }
  }
}