# .gitignore

.env

node_modules/
dist/
uploads/
build/
test/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.DS_Store
Thumbs.db

*firebase-adminsdk*.json
backup.json
